
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html, body {

  height: 100%;

}

body {

  margin: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 25px;
  text-align: center;
  color: #14afba;

}

a {
 color: #14afba;
 text-decoration: none;
}

a:hover {
 color: #6E9AEA;
}

.header {
 padding: 30px;
 text-align: center;
 font-size: 25px;
}

.header ul {
 display: flex;
 justify-content: center;
}

.header ul li {
 list-style-type:none;
 display: list-item;
 line-height: 10px;
 padding: 10px 30px 30px 0px;
}
